// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    padding-top: 4.5rem;
  }
  
.alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}