<template>
    <div class='container'>
        <button @click="launchOneDrivePicker">Open from OneDrive</button>
    </div>
</template>

<script>
    export default {
        name: "FilePicker",

        data: function () {
            return {   
                odOptions: {
                    clientId: "4ff3fdb0-43b8-4fca-90d5-67151c18076d",
                    action: "query",
                    multiSelect: true,
                    advanced: {
                        redirectUri: "http://localhost:8000/filepicker"
                    },
                    success: function(files) { console.log('ok'); },
                    progress: function(percent) { console.log(percent); },
                    cancel: function() { /* cancel handler */ },
                    error: function(error) { console.log(error); }
                }
            };
        },
       
        methods: {
            launchOneDrivePicker: function () {
                OneDrive.open(this.odOptions);
            },
        },
    };
</script>

